site_name: Find Silicon Absorption Line
docs_dir: docs
site_url: https://tempurl.com/
theme: readthedocs
plugins:
  - mkdocstrings

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - attr_list
  - md_in_html

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - About: index.md
  - Tutorial: tutorials.md
  - How-to guides: howto.md
  - Explanation: explanation.md
  - Reference: reference.md
